.task {
  justify-content: space-between !important;
  margin-top: 2em;
  border-bottom: 0.15em solid #d6d6d6;
}

.priority {
  width: 50%;
}

.task-checkbox {
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border: 1px solid #cecece;
  border-radius: 4px;
  opacity: 1;
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

.section-1 {
  justify-content: flex-start;
  width: 50%;
}

.section-2 {
  justify-content: space-between;
  width: 50%;
  text-align: center;
}
