.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

.project-title,
.project-description,
.project-tasks {
  margin: 0;
}

.project-link {
  margin-left: 0.5em;
  padding: 0;
}
