* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
}
#root {
  background-color: #ececec;
  min-height: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.create-project-button a:hover,
.create-project-button a:visited,
.create-project-button a:link,
.create-project-button a:active {
  text-decoration: none;
  color: white;
}
