* {
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
}
#root {
  background-color: #ececec;
  padding-bottom: 1em;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #142d4c;
}

.create-project-button a:hover,
.create-project-button a:visited,
.create-project-button a:link,
.create-project-button a:active {
  text-decoration: none;
  color: white;
}
